<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Set New Password </title>
</head>
<body>

<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Change Password</div>

                    <th:block th:if="${session.msg}">
                        <div th:class="'alert alert-' + ${session.msgType} + ' alert-dismissible fade show text-center fs-5 fw-semibold mx-auto w-75'" role="alert" th:text="${session.msg}">
                        </div>
                        <script th:if="${session.msgType == 'success'}" th:inline="javascript">
                            setTimeout(function() {
                                window.location.href = '/user/home/' + /*[[${user.id}]]*/ '1';
                            }, 3000);
                        </script>
                    </th:block>


                    <div class="card-body">

                        <form action="/user/settings/updatePassword" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            
                            <div class="mb-3">
                                <label for="oldPass" class="form-label">Old Password</label>
                                <input type="password" class="form-control" id="oldPass" name="oldPass" required />
                            </div>

                            <div class="mb-3">
                                <label for="newPass" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="newPass" name="newPass" required />
                            </div>

                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>