<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">Forget Password</div>

                        <!-- Show error message if present -->
                        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mx-auto text-center fs-5 fw-semibold rounded-3 shadow-sm w-75" role="alert" style="letter-spacing: 0.5px;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            <span th:text="${error}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="card-body">
                            <form th:action="@{/send-otp}" method="post">
                                <div class="mb-3">
                                    <label>Enter Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="abc@mail.com" required>
                                </div>

                                <button class="btn btn-primary col-md-12">Send OTP</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>