<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Reset Password</div>

                    <div th:if="${success}" class="alert alert-success text-center" th:text="${success}"></div>
                    <div th:if="${error}" class="alert alert-danger text-center" th:text="${error}"></div>

                    <div class="card-body">
                        <form th:action="@{/reset-password}" method="post">

                            <div class="mb-2">
                                <label>Enter Password</label>
                                <input type="password" name="password" class="form-control"  placeholder="Eg: Pass@123" required>
                            </div>

                            <div class="mb-2">
                                <label>Confirm Password</label>
                                <input type="password" name="confirmPassword" class="form-control" placeholder="Eg: Pass@123" required>
                            </div>

                            <button class="btn btn-primary col-md-12">Change Password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>